/* main container styling */
div.location__container{
    max-width:70%;
    margin:auto;
    padding-top:7rem;
  }
  
  /* top section styling */
  section.top{
      position:relativ;
      display: flex;
      flex-wrap: wrap;
      max-height: 15rem;
  }
  section.top div.map{
      position:absolute;
      left:0;top:0;
      max-width:50%;
      background: red;
  }
  section.top figure{
      position:absolute;
      right:0;top:0;
      max-width:50%;
      background: green;
  }
  /* meddile section styling */
  section.meddile{
      min-height: 10rem;;
  }
  
  /* last section styling */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    