.register__container{
    min-height: auto;
    min-width:50%;
    margin:auto;
    padding-top:7rem;
    /* display: flex;justify-content: center;align-items: center; flex-direction: column; */
    /* background: red; */
}
.register{
    /* background: red;  */
        display: flex;justify-content: center;align-items: center; flex-direction: column;

}
.register div,
.register .btn_register {
    min-width:50% ;
    
}
.register input {
    text-align: end;
}
.registerHeader {
    background-color: rgb(226, 240, 226);
}

.form-group span {
    color: red;
    display: none;
}

.form-group input:invalid[focused='true'] {
    border: 1px solid red;
}

.form-group .userName input:invalid[focused="true"]~span,
.form-group .email input:invalid[focused="true"]~span,
.form-group .password input:invalid[focused="true"]~span,
.form-group .confirmPassword input:invalid[focused="true"]~span {
    display: block;
}
@media screen and (max-width:855px){
    .register input{
        
    }
}