.signupLogo{
    height: 100%;
    
}

.registerHeader{
    background-color:rgb(226, 240, 226);
}


/* @media screen and (max-width:855px) {
    .register__container{
        padding-top:19rem;
    }
} */





















































