.socialIcons i{
    padding: 5px;
    cursor: pointer;
}

.logo span{
    padding: 5px;
}

.links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links a:hover{
    color: gray;
}